@charset "UTF-8";
/******************************************************************

Stylesheet: ベーススタイル

******************************************************************/
html {
  width: 100%;
  margin: 0;
  padding: 0;
  font-size: 16px;
}

body {
  margin: 0;
}

.b {
  font-weight: bold;
}

.ft-lg {
  font-size: 1.2rem;
}

.ft-sm {
  font-size: 0.75rem;
}

.ft-red {
  color: red;
}

.bg-blue {
  background-color: rgba(65, 105, 244, 0.5) !important;
}

.bg-green {
  background-color: rgba(0, 128, 0, 0.5);
}

.mb-sm {
  margin-bottom: 10px !important;
}

.mb-lg {
  margin-bottom: 20px !important;
}

.pb-sm {
  padding-bottom: 16px !important;
}

.pb-lg {
  padding-bottom: 80px !important;
}

.icon-lg {
  font-size: 3rem;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main-container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.hd-ft-container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.header {
  height: 400px;
  width: 100%;
  background-color: #90c3ea;
  position: relative;
}

.header .hd-mask {
  height: 100%;
  background-image: url("../img/0000_hd-bg.jpg");
  background-repeat: no-repeat;
  background-size: 120%;
  background-position: -10% 90%;
  position: relative;
}

.header .hd-mask .hd-title {
  margin: 0;
  font-size: 38px;
  font-family: 'Noto Sans JP', sans-serif;
  display: block;
  color: white;
  position: absolute;
  top: 20px;
  right: 10px;
}

.header .hd-mask .hd-copy {
  margin: 0;
  padding-top: 10px;
  font-size: 18px;
  font-family: 'Noto Sans JP', sans-serif;
  display: block;
  text-align: center;
  color: white;
  letter-spacing: 5px;
  position: absolute;
  top: 45%;
  right: 2%;
}

.header .hd-mask .hd-logo {
  width: 300px;
  padding: 1px 0;
  background-color: white;
  border-radius: 20px;
  position: absolute;
  top: 35%;
  right: 1%;
  z-index: 1;
}

.header .hd-mask .hd-logo > p {
  margin: 5px 0;
  -webkit-margin-before: 5px;
          margin-block-start: 5px;
  -webkit-margin-after: 5px;
          margin-block-end: 5px;
  text-align: center;
  font-family: 'Noto Sans JP', sans-serif;
  font-size: 11px;
}

.target-bg {
  width: 100%;
}

.target-bg .target-box {
  width: 80%;
  padding: 10px;
  margin: 0 auto;
  background-color: white;
  border-radius: 30px;
  border: 3px solid royalblue;
}

.banner-box {
  width: 100%;
}

.banner-box .banner-title {
  font-size: 1rem;
  padding: 0 5px;
  margin: 0;
}

.banner-box .banner {
  width: 100%;
  display: block;
  margin: 0 auto;
}

.shop-menu-box {
  width: 100%;
}

.shop-menu-box .title {
  width: 90%;
  font-size: 1rem;
  margin: 0 auto;
  padding: 10px;
}

.shop-menu-box .shop-menu {
  width: 90%;
  margin: 0 auto;
}

.shop-menu-box .shop-menu > h3 {
  -webkit-margin-before: 0;
          margin-block-start: 0;
  -webkit-margin-after: 0;
          margin-block-end: 0;
}

.shop-menu-box .shop-menu .shop-menu-title {
  width: 100%;
  padding: 10px 0;
  background-color: royalblue;
  color: white;
}

.shop-menu-box .shop-menu .visit-menu-title {
  width: 100%;
  padding: 10px 0;
  background-color: green;
  color: white;
}

.shop-menu-box .shop-menu .tbl-r04 {
  width: 80%;
  margin: 5% auto;
}

.shop-menu-box .shop-menu .tbl-r04 .thead {
  display: none;
}

.shop-menu-box .shop-menu .tbl-r04 tr,
.shop-menu-box .shop-menu .tbl-r04 td {
  display: block;
  width: 100%;
  position: relative;
}

.shop-menu-box .shop-menu .tbl-r04 td:first-child:before {
  content: "設定内容";
  background: skyblue;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #fff;
  font-weight: bold;
  padding: 10px;
  position: absolute;
  top: -60px;
  left: -0.2%;
  display: block;
  width: 100.5%;
}

.shop-menu-box .shop-menu .tbl-r04 td:first-child {
  margin-top: 50px;
}

.shop-menu-box .shop-menu .tbl-r04 tr {
  margin-bottom: 140px;
}

.txt {
  text-align: left;
  font-size: .75em;
}

.price {
  text-align: right;
  color: black;
  font-weight: bold;
}

.footer-banner {
  text-decoration: none;
}

.footer-banner .footer {
  height: 400px;
  width: 100%;
  max-width: 1200px;
  background-image: url("../img/footer.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  position: relative;
}

.footer-banner .footer .ft-mask {
  height: 100%;
  background-color: rgba(135, 238, 204, 0.5);
  position: relative;
}

.footer-banner .footer .ft-mask .ft-title {
  margin: 0;
  padding-top: 100px;
  font-size: 48px;
  font-family: 'Noto Sans JP', sans-serif;
  display: block;
  text-align: center;
  color: white;
  /* position: absolute;
        top: 10%;
        left: 5%; */
}

.footer-banner .footer .ft-mask .ft-copy {
  margin: 0;
  padding-top: 10px;
  font-size: 28px;
  font-family: 'Noto Sans JP', sans-serif;
  display: block;
  text-align: center;
  color: white;
  letter-spacing: 5px;
  /* position: absolute;
        top: 30%;
        left: 5%; */
}

.footer-banner .footer .ft-mask .ft-logo {
  width: 300px;
  margin: 0 auto;
  margin-top: 10px;
  padding: 1px 0;
  background-color: white;
  border-radius: 20px;
}

.footer-banner .footer .ft-mask .ft-logo > p {
  color: black;
  display: block;
  width: 100%;
  text-align: center;
  font-family: 'Noto Sans JP', sans-serif;
  text-decoration: none;
}

@media (min-width: 480px) {
  /******************************************************************

Stylesheet: 480px以上(スマホの横向き)のモニタで適用

******************************************************************/
}

@media (min-width: 600px) {
  /******************************************************************

Stylesheet: 600px以上のタブレットやモニタで適用

******************************************************************/
  html {
    font-size: 20px;
  }
  .header .hd-mask .hd-title {
    font-size: 54px;
  }
  .header .hd-mask .hd-copy {
    font-size: 24px;
    top: 55%;
  }
  .header .hd-mask .hd-logo {
    width: 380px;
    top: 45%;
  }
  .header .hd-mask .hd-logo > p {
    font-size: 14px;
  }
  .shop-menu-box .shop-menu .tbl-r04 {
    width: 100%;
    margin: 0 auto;
    table-layout: fixed;
  }
  .shop-menu-box .shop-menu .tbl-r04 .thead {
    display: table-row;
  }
  .shop-menu-box .shop-menu .tbl-r04 tr {
    display: table-row;
    width: initial;
    margin-bottom: 0;
  }
  .shop-menu-box .shop-menu .tbl-r04 tr:hover {
    background-color: #fffae9;
  }
  .shop-menu-box .shop-menu .tbl-r04 th {
    display: table-cell;
  }
  .shop-menu-box .shop-menu .tbl-r04 td {
    display: table-cell;
    width: initial;
    padding: 20px;
    border-bottom: 1px solid #eee;
  }
  .shop-menu-box .shop-menu .tbl-r04 td:first-child:before {
    display: none;
  }
  .shop-menu-box .shop-menu .tbl-r04 td:first-child {
    margin-top: 0;
  }
}

@media (min-width: 960px) {
  /******************************************************************

Stylesheet: 960px以上のモニタで適用

******************************************************************/
  html {
    font-size: 32px;
  }
  .mb-sm {
    margin-bottom: 16px !important;
  }
  .mb-lg {
    margin-bottom: 80px !important;
  }
  .header .hd-mask {
    background-size: 120%;
    background-position: 0% 90%;
  }
  .header .hd-mask .hd-title {
    font-size: 72px;
  }
  .header .hd-mask .hd-copy {
    font-size: 32px;
    top: 75%;
  }
  .header .hd-mask .hd-logo {
    width: 500px;
    top: 60%;
  }
  .target-bg .target-box {
    padding: 30px;
  }
  .shop-menu-box .title {
    padding: 30px;
  }
  .shop-menu-box .shop-menu .shop-menu-title {
    padding: 30px 0;
  }
  .shop-menu-box .shop-menu .visit-menu-title {
    padding: 30px 0;
  }
}

@media (min-width: 1280px) {
  /******************************************************************

Stylesheet: 1280px以上のモニタで適用

******************************************************************/
  .hd-ft-container {
    width: 100% !important;
    max-width: 100% !important;
  }
  .header .hd-mask {
    background-size: 80%;
    background-position: 30% 90%;
  }
  .footer-banner .footer {
    max-width: 100% !important;
  }
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  /******************************************************************

Stylesheet: Retinaディスプレイで適用

******************************************************************/
}
/*# sourceMappingURL=style.css.map */
